<div class="body-challenge">
  <div class="covid-center">
    <div class="h1n1"><%= link_to "Covid 666", info_path %></div>
  </div>
</div>


<script src="//widget.mixcloud.com/media/js/footerWidgetApi.js" async>
{"feed": "/RadioCovid666/"}
</script>
