<div class="more-info-on-covid">
  <%= link_to "info", info_path, class: "green" %>
</div>
<div class="body-challenge green">
  <%= link_to info_path do  %>
    <div class="covid-center">
    </div>
  <% end %>
</div>


<script src="//widget.mixcloud.com/media/js/footerWidgetApi.js" async>
{"feed": "/RadioCovid666/"}
</script>
