<div class="more-info-on-covid">
  <%= link_to "info", info_path, class: "green" %>
</div>
<div class="body-challenge green">
  <div class="wrap-text up-text">•<span class="black"> the radio from hell to hearts </span> • <span class="black"> the radio from hell to hearts </span> • <span class="black"> the radio from hell to hearts </span> •</div>
  <div class="covid-center">
    <!-- <div class="wrap-text left-text">• the radio from hell to hearts •</div> -->
    <div class="h1n1"><%= link_to "Covid 666", info_path %></div>
    <!-- <div class="wrap-text right-text">• the radio from hell to hearts •</div> -->
  </div>
  <div class="wrap-text bottom-text">• <span class="black">the radio from hell to hearts</span> • <span class="black">the radio from hell to hearts</span> • <span class="black">the radio from hell to hearts</span> •</div>
</div>


<script src="//widget.mixcloud.com/media/js/footerWidgetApi.js" async>
{"feed": "/RadioCovid666/"}
</script>
