// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin: 0;
  font-family: 'Astloch', cursive;
  background: #F95D8A;
  .ast {
    font-family: 'Astloch', cursive;
  }
  .bold {
    font-weight: bold;
  }
  .pink {
    color: #F95D8A;
  }
  .pink-bg {
    background: #F95D8A;
  }
  .green {
    color: #30FC8C;
  }
  .black {
    color: black;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .more-info-on-covid {
    width: 100%;
    height: 25px;
    padding: 20px 0;
    background: #F95D8A;
    text-align: center;
    .green {
      font-size: 20px;
    }
  }
  .back {
    background: #30FC8C;
  }
  .body-challenge {
    background: #F95D8A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 65px);
    .wrap-text {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      width: 650px;
      span {
        padding: 0 15px;
      }
    }
    .bottom-text {
      margin: 0 0 170px 0;
      transform: rotate(180deg);
    }
    .covid-center {
      cursor: pointer;
      width: 780px;
      height: 500px;
      background-image: url("covid666.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .info {
    background: #30FC8C;
    display: flex;
    justify-content: center;
    width: 100%;
    height: max-content;
    padding: 30px 0 100px 0;
    .info-box {
      width: 62%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      .block-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: end;
        .covid-indent {
          text-indent: 20px;
        }
        .extra-margin {
          margin-top: 15px;
        }
        .subtitle {
          font-size: 50px;
          width: max-content;
          margin: 20px 0;
        }
        .middle {
        }
        .covid-text {
          line-height: 125%;
          width: 510px;
          font-size: 18px;
          font-weight: lighter;
          font-family: 'Helvetica', 'Arial', sans-serif;
          .check-list-covid {
            margin: 0;
          }
        }
      }
      .block-mid-left {
        width: 100%;
        margin: 30px 25%;
        .mid-title {
          font-size: 30px;
          font-family: 'Helvetica';
          font-weight: lighter;
          width: max-content;
          margin: 0 20% 0 0;
        }
      }
      .covid-info {
        font-weight: 700;
        font-size: 175px;
        width: max-content;
        text-align: left;
        margin: 0 0 20px 0;
        a {
          color: black;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .tracks-archive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    .track-block {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px;
      border: solid 1px black;
      cursor: pointer;
      // background-color: #30FC8C;
      // padding:10px;
      .track-card {
        width: 250px;
        height: 250px;
        filter: grayscale(1);
        background-size: contain;
        transition: all 0.5s ease;
      }
      &:hover {
        .track-card {
          filter: grayscale(0);
          transition: all 0.5s ease;
        }
        .track-name, .track-duration {
          color: transparent;
          transition: all 0.5s ease;
          text-shadow: none;
        }
      }
      .track-info {
        text-align: center;
        color: #30FC8C;
        text-shadow: 0 0 4px black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 250px;
        width: 250px;
        position: absolute;
        .track-name, .track-duration {
          transition: all 0.5s ease;
        }
        .track-name {
          font-size: 30px;
        }
        .track-duration {
          font-size: 20px;
        }
      }
    }
  }
}



