// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin: 0;
  font-family: 'Astloch', cursive;
  .ast {
    font-family: 'Astloch', cursive;
    font-weight: bold;
  }
  .pink {
    color: #F95D8A;
  }
  .green {
    color: #30FC8C;
  }
  .black {
    color: black;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .more-info-on-covid {
    width: 100%;
    height: 25px;
    padding: 20px 0;
    background: #F95D8A;
    text-align: center;
    .green {
      font-size: 20px;
    }
  }
  .back {
    background: #30FC8C;
  }
  .body-challenge {
    background: #F95D8A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .wrap-text {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      span {
        padding: 0 15px;
      }
    }
    .bottom-text {
      margin: 0 0 170px 0;
      transform: rotate(180deg);
    }
    .covid-center {
      width: max-content;
      height: max-content;
      background-image: url("pate.png");
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    .h1n1 {
      font-weight: 700;
      font-size: 175px;
      text-align: center;
      margin: auto;
      text-shadow: #F95D8A 2px 5px;
      a {
        color: #30FC8C;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .info {
    background: #30FC8C;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: max-content;
    padding: 30px 0 100px 0;
    .info-box {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .covid-info {
        font-weight: 700;
        font-size: 175px;
        width: 100%;
        text-align: left;
        margin: 0 0 20px 0;
        a {
          color: black;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .subtitle {
        font-size: 50px;
        width: max-content;
      }
      .middle {
        margin: 20px 20px 20px 100px;
      }
      .covid-text {
        width: 50%;
        font-size: 18px;
        font-weight: lighter;
        font-family: 'Helvetica';
      }
      .mid-title {
        font-size: 30px;
        font-family: 'Helvetica';
        font-weight: lighter;
        width: 50%;
        margin: 25px 20% 25px 0;
      }
    }
  }
}


